<app-navbar></app-navbar>
 <!-- Mission Section -->
 <section class="relative bg-cover bg-center h-96 text-center text-white" style="background-image: url(/assets/cover.jpeg);">
   
</section>
<main class="container mx-auto py-12 space-y-40">
    <section class="text-center mt-10 mb-20">
        <h1 class="text-4xl font-bold mb-4">O meni</h1>
        <p class="text-lg mb-4 text-gray-700">
            Zdravo! Ja sam <span class="font-bold text-gray-950">Ana Jovanović</span>, kreativac iz srca i osnivačica
            brenda
            <span class="font-bold text-red-500">Heklanje Nana</span>.<br>Kreiram igračke koje su lepe, pune ljubavi,
            nežnosti i topline.
        </p>
        <p class="text-lg text-gray-700">
            Svaka igračka koju heklam
            napravljena je sa posebnom pažnjom prema detaljima<br>jer znam da one postaju važne uspomene i prijatelji
            deci.
        </p>
    </section>

    <!-- Two-column layout -->
    <section class="flex items-center gap-60 mb-16">
        <div class="w-full">
            <h2 class="text-3xl font-semibold font-serif mb-4">Kako je sve počelo?</h2>
            <p class="text-lg text-gray-700 mb-4">
                Kao dete, imala sam svoju omiljenu igračku koju je moja baka heklala. Ona je bila mnogo više od
                igračke - pružala mi je osećaj sigurnosti i ljubavi.
            </p>
            <p class="text-lg text-gray-700">
                Vremenom, shvatila sam koliko je važno da deca imaju nešto posebno, personalizovano i izrađeno s
                ljubavlju. To me inspirisalo da se posvetim stvaranju unikatnih heklanih igračaka koje nose istu tu magiju.
            </p>
        </div>
        <div>
            <img src="/assets/toys-in-box.jpg" alt="Igračke" class="w-full rounded-3xl">
        </div>
    </section>

    <section class="flex items-center gap-60 mb-16">
        <div>
            <img src="/assets/Firefly Cute crochet light pink bunny toy in the box, gift 10352.jpg" alt="Igračke" class="w-full rounded-3xl">
        </div>
        <div class="w-full">
            <h2 class="text-3xl font-semibold font-serif mb-4">Zašto heklane igračke?</h2>
            <p class="text-lg text-gray-700 mb-4">
                U današnje vreme deca su okružena plastičnim i industrijskim igračkama koje nemaju dušu.
            </p>
            <p class="text-lg text-gray-700">
                Heklane igračke su mnogo više od običnih predmeta - one stvaraju uspomene, razvijaju detlju maštu
                i podstiču emotivni razvoj.
            </p>
        </div>
    </section>

</main> 

    <!-- Mission Section -->
    <section class="relative bg-cover bg-center h-screen text-center text-white" style="background-image: url(/assets/pexels-matvalina-27650001.jpg);">
        <div class="absolute inset-0 bg-red-950 opacity-70"></div>
        <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white w-1/2 mx-auto">
            <h2 class="text-6xl font-semibold font-serif mb-20">Moja misija</h2>
            <p class="text-2xl font-light mb-4">
                Svaka igračka koju pravim nosi delić mog srca.
            <p class="text-2xl font-light mb-4 text-balance">
                Kroz Heklanje Nana, želim da podelim radost i toplinu sa decom i roditeljima, pružajući im igračke koje su sigurne, kvalitetne i napravljene da traju. 
            </p>
            <p class="text-2xl font-light mb-4 text-balance">
                Svesna sam koliko je važno stvoriti nešto jedinstveno za Vaše dete, i upravo to je ono što nudim - ručno izrađene igračke koje pričaju posebnu priču.
            </p>
        </div>
    </section>

    <main class="container mx-auto py-12 space-y-40">

        <section class="flex items-center gap-60 mb-16">
            <div class="w-full">
                <h2 class="text-3xl font-semibold font-serif mb-4">Zajednica ljubavi i kreativnosti</h2>
                <p class="text-lg text-gray-700 mb-4">
                    Moji klijenti nisu samo kupci - oni postaju deo mog kreativnog putovanja. Ispunjava me saznanje da sam uspela uneti radost u vaše domove. 
                </p>
                <p class="text-lg text-gray-700">
                    Moji paterni su pažljivo osmišljeni da i vi sami možete kreirati nešto nezaboravno, a svaka heklana igračka koju naručite napravljena je s ciljem da unese ljubav i radost u život vašeg deteta.
                </p>
            </div>
            <div>
                <img src="/assets/toys-in-box.jpg" alt="Igračke" class="w-full rounded-3xl">
            </div>
        </section>

    <!-- Thank You Section -->
    <section class="py-32 text-center bg-pink-50 flex flex-col justify-center items-center rounded-3xl w-1/2 mx-auto">
        <div class="2/3">
        <img src="/assets/thank-you.png" class="h-20 mb-10 mx-auto">
        <h2 class="text-3xl font-serif font-semibold mb-8">Zahvalnica</h2>
        <p class="text-lg mb-4 text-gray-800">
            Hvala Vam što podržavate ručni rad i ljubav prema detaljima.
        </p>
        <p class="text-lg mb-4 text-gray-800 text-balance">
            Verujem da zajedno možemo stvoriti svet u kojem su igračke mostovi ka lepim uspomenama koje traju ceo život.
        </p>
    </div>
    </section>

</main>

<section class="relative bg-cover bg-center h-screen text-center text-white mt-28" style="background-image: url(/assets/Firefly\ Group\ of\ cute\,\ light\ pink\ and\ blue\ crocheted\ toys\ 43006.jpg);">
    <div class="absolute inset-0 bg-red-950 opacity-80"></div>
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white w-1/2 mx-auto">
        <h2 class="text-6xl font-semibold font-serif mb-6 leading-snug">Pronađite savršenu igračku za Vaše najmilije!</h2>
        <p class="text-2xl font-light mb-4">
            Unikatne, ručno heklane igračke koje stvaraju uspomene.</p>
            <a href="#" class="bg-white text-red-500 px-12 py-4 rounded-full font-semibold text-lg hover:bg-pink-100 mt-14">
                Poručite igračku
            </a>
    </div>
</section>


<app-footer></app-footer>