.search-input {
  display: none;  /* Initially hide the search input */
  position: absolute;
  right: 0;
  top: 0;
}

.search-input.ng-trigger.ng-trigger-fade {
  display: block;  /* Make it visible when toggled */
  width: 200px;  /* Adjust width as needed */
}

.search-input:focus {
  border-color: #f87171;  /* Red color on focus */
  box-shadow: 0 0 5px rgba(248, 113, 113, 0.5); /* Optional */
}

.search-input::-webkit-input-placeholder {
  color: #aaa;
}

.search-input:-ms-input-placeholder {
  color: #aaa;
}

.search-input::placeholder {
  color: #aaa; /* Placeholder color */
}
