<app-navbar></app-navbar>
<div class="text-center my-12">
    <h1 class="text-4xl font-bold font-serif text-gray-800">Paterni</h1>
    <p class="mt-4 text-lg text-gray-800">Dobrodošli u moj svet paterna za igračke!</p>
    <p class="mt-2 text-gray-600 max-w-3xl text-center mx-auto">
        S ljubavlju dizajniram unikatne šablone koji vam omogućavaju da pravite prelepe i sigurne igračke.
        <br>Svaki patern koji kreiram pažljivo je osmišljen i testiran, kako bi bio jednostavan za praćenje,
        čak i ako tek počinjete sa heklanjem.
    </p>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4 mx-60 mb-10 md:px-0">
    <div
        class="bg-white rounded-2xl border border-gray-200 hover:shadow-lg overflow-hidden transition-all duration-300">
        <img src="/assets/slon.jpeg" alt="Plush elephant" class="w-full h-96 object-cover">
        <div class="flex flex-col justify-center items-center my-5 p-6">
            <h2 class="text-lg font-semibold text-gray-800">Plush elephant pattern</h2>
            <p class="mt-2 text-gray-600 text-center text-balance">
                This cute plush elephant is 20cm tall when its finished. Its ideal for little babies hands and its easy
                to make.
            </p>
            <button
                class="mt-10 inline-block px-4 py-2 text-red-500 border border-red-500 rounded-full hover:bg-red-500 hover:text-white transition-all duration-300">
                Vidi detalje
            </button>
        </div>
    </div>
    <div
        class="bg-white rounded-2xl border border-gray-200 hover:shadow-lg overflow-hidden transition-all duration-300">
        <img src="/assets/slon.jpeg" alt="Plush elephant" class="w-full h-96 object-cover">
        <div class="flex flex-col justify-center items-center my-5 p-6">
            <h2 class="text-lg font-semibold text-gray-800">Plush elephant pattern</h2>
            <p class="mt-2 text-gray-600 text-center text-balance">
                This cute plush elephant is 20cm tall when its finished. Its ideal for little babies hands and its easy
                to make.
            </p>
            <button
                class="mt-10 inline-block px-4 py-2 text-red-500 border border-red-500 rounded-full hover:bg-red-500 hover:text-white transition-all duration-300">
                Vidi detalje
            </button>
        </div>
    </div>
    <div class="bg-white rounded-2xl border border-gray-200 hover:shadow-lg overflow-hidden transition-all duration-300">
        <img src="/assets/slon.jpeg" alt="Plush elephant" class="w-full h-96 object-cover">
        <div class="flex flex-col justify-center items-center my-5 p-6">
            <h2 class="text-lg font-semibold text-gray-800">Plush elephant pattern</h2>
            <p class="mt-2 text-gray-600 text-center text-balance">
                This cute plush elephant is 20cm tall when its finished. Its ideal for little babies hands and its easy
                to make.
            </p>
            <button class="mt-10 inline-block px-4 py-2 text-red-500 border border-red-500 rounded-full hover:bg-red-500 hover:text-white transition-all duration-300">
                Vidi detalje
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>