<app-navbar></app-navbar>
<div class="container mx-auto p-6 grid grid-cols-1 md:grid-cols-3 gap-8 mt-20">
    <!-- Personal Details Form -->
    <div class="md:col-span-2 w-11/12">
      <h1 class="text-3xl font-semibold mb-2">Poručivanje</h1>
      <p class="text-gray-500 mb-8">Unesite Vaše podatke.</p>
  
      <h2 class="text-xl font-semibold mb-4">Lični podaci</h2>
      <form class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input type="text" placeholder="Ime i prezime*" class="border border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none">
        <input type="email" placeholder="Email*" class="border border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none">
        
        <input type="tel" placeholder="Broj telefona*" class="border border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none">
        <input type="text" placeholder="Adresa*" class="border border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none">
        
        <input type="text" placeholder="Grad*" class="border border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none">
        <input type="text" placeholder="Poštanski broj*" class="border border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none">
        
        <textarea placeholder="Poruka" class="col-span-2 border h-80 border-gray-300 p-3 rounded-lg focus:border-red-500 outline-none"></textarea>
      </form>
    </div>
  
    <!-- Order Summary -->
    <div class="">
      
      <div class="border border-gray-100 rounded-3xl px-8 py-5 mb-8 shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Vaša porudžbina</h2>
        <div class=" flex flex-row justify-between mb-5"><p>Proizvod</p><p>Cena</p></div>
        <div class="flex items-center mb-4">
          <img src="https://via.placeholder.com/50" alt="Product" class="w-16 h-16 rounded-lg mr-4">
          <div>
            <p class="font-semibold">Slatki plavi slonić</p>
            <p class="text-sm text-gray-500">Pamučna 8X20cm</p>
            <p class="text-sm text-gray-500">1 X $36.00</p>
          </div>
          <p class="ml-auto font-semibold">$36.00</p>
        </div>
        <div class="border-t border-gray-200 my-4 w-full"></div>
  
        <div class="flex justify-between text-gray-600 mb-2">
          <span>Cena igračke</span>
          <span>$36.00</span>
        </div>
        <div class="flex justify-between text-gray-600 mb-2">
          <span>Poštarina (+)</span>
          <span>$10.00</span>
        </div>
        <div class="border-t border-gray-200 my-4 w-full"></div>
        <div class="flex justify-between font-semibold text-red-500 text-lg">
          <span>Ukupno</span>
          <span>$46.00</span>
        </div>
      </div>
  
      
      <div class="bg-gray-100 rounded-2xl p-4 mb-4">
        <h2 class="text-xl font-semibold mb-4">Plaćanje</h2>
        <label class="flex items-center space-x-2">
          <input type="radio" name="payment" checked class="form-radio peer text-red-500 focus:ring-red-500 outline-none">
          <span>Pouzećem</span>
        </label>
      </div>
  
      <button class="w-full bg-red-500 text-white py-3 rounded-full font-semibold mt-4 hover:bg-red-600">
        Pošalji narudžbu
      </button>
    </div>
  </div>
  
